@import 'sb-admin-2.min.css';

body {
    font-family: 'Roboto', sans-serif;
}

/* BUTTONS */
.btn {
    border: 2px solid transparent;
    font-size: 14px;
}
.btn-primary {
    background-color: #fc8441;
    border-color: #fc8441;
}
.btn-outline-primary {
    color: #fc8441;
    border-color: #fc8441;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
    color: #fff;
    background-color: #ed7838;
    border-color: #ed7838;
}
/* BUTTONS */

/* BADGES */
.badge-primary {
    background-color: #fc8441;
}
.border-bottom-primary {
    border-bottom-color: #be8ee4 !important;
}
/* BADGES */

.form-control {
    color: #151515;
}

.sidebar {
    background: #5a198c;
}

.page-title {
    color: #151515;
    font-size: 20px;
    font-weight: 500;
}

/* TABLE */
.catalog-table,
.contractors-table {
    width: 100%;
    height: 500px;
}
.ag-theme-alpine {
    color: #151515;
}
.ag-theme-alpine .ag-root-wrapper {
    border: solid 2px !important;
    border-color: #efd9ff !important;
    border-radius: 6px !important;
}
.ag-theme-alpine .ag-header {
    background-color: #f9f2ff !important;
    border-bottom-color: #efd9ff !important;
}
.ag-header-cell-text {
    text-transform: uppercase !important;
    color: #5e3e77 !important;
}
/* TABLE */