@import 'sb-admin-2.min.css';

body {
    font-family: 'Roboto', sans-serif;
}

/* BUTTONS */
.btn {
    border: 2px solid transparent;
    font-size: 14px;
}
.btn-primary {
    background-color: #fc8441;
    border-color: #fc8441;
}
.btn-outline-primary {
    color: #fc8441;
    border-color: #fc8441;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
    color: #fff;
    background-color: #ed7838;
    border-color: #ed7838;
}
/* BUTTONS */

/* BADGES */
.badge-primary {
    background-color: #fc8441;
}
.border-bottom-primary {
    border-bottom-color: #be8ee4 !important;
}
/* BADGES */

.form-control {
    color: #151515;
}

/* SIDEBAR */
.sidebar {
    background: #5a198c;
    position: relative;
}
.sidebar.toggled hr.sidebar-divider {
    margin: 0;
}
@media (min-width: 768px) {
    .sidebar.toggled .sidebar-heading {
        display: none;
    }
}
#sidebarToggle {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
/* SIDEBAR */

.page-title {
    color: #151515;
    font-size: 20px;
    font-weight: 500;
}

/* TABLE */
.catalog-table,
.contractors-table,
.nomenclatures-table,
.stockbalances-table {
    width: 100%;
    height: 500px;
}
.ag-theme-alpine {
    color: #151515;
}
.ag-theme-alpine .ag-root-wrapper {
    border: solid 2px !important;
    border-color: #efd9ff !important;
    border-radius: 6px !important;
}
.ag-theme-alpine .ag-header {
    background-color: #f9f2ff !important;
    border-bottom-color: #efd9ff !important;
}
.ag-header-cell-text {
    text-transform: uppercase !important;
    color: #5e3e77 !important;
}
.table-view-parameters {
    text-align: center;
}
.table-view-parameters ul {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.table-view-parameters ul li {
    display: flex;
    line-height: 1;
    align-items: center;
    margin-right: 20px;
}
.table-view-parameters ul li label {
    margin-left: 4px;
    margin-bottom: 0;
}
.table td, .table th {
    position: relative;
}
/* TABLE */

.list-group-item-action,
.list-group-item:first-child { 
    color: #151515;
    margin: 5px 0;
    border: 2px solid #efd9ff !important;
    border-radius: 5px;
    width: calc(100% - 5px);
}
.list-group-item-action:focus,
.list-group-item-action:hover {
    background-color: #f9f2ff;
}

/* SWAL */
.swal-wide {
    width: 75vw !important;
}
/* SWAL */

/* AUTH */
form.user .form-control-user {
    font-size: 15px;
    border-radius: 6px;
}
form.user .btn-user {
    border-radius: 6px;
}
/* AUTH */

/* SELECT */
.select-helper {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    color: #151515;
    max-height: 200px;
    width: calc(100% - 1.5rem);
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    z-index: 10;
}
/* SELECT */